body {
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    background-color: #040b31;
}

main {
    position: fixed;
    right: 20%;
    top: 40%;
    filter: blur(5px);
}